header {
  justify-content: center;
  align-items: center;
  background-color: black;
  display: flex;
  color: #66fcf1;
  font-size: 25px;
  padding: 25px 0;
  font-weight: bold;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 700px;
}

main {
  padding: 2rem;
}

ul#characters-list {
  display: grid;
  gap: 30px;
  list-style: none;
  padding: 30px;
  text-align: center;
  background-color: #1f2833;
  margin: 0 auto;
  text-align: center;
  border-radius: 35px;
}

ul#characters-list li {
  background: linear-gradient(135deg, #45a29e, #66fcf1);
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  color: #0b0c10;
  font-weight: bold;
  transition: all 0.1s ease;
}
ul#characters-list li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #66fcf1;
}


#character-details {
  background: #0b0c10; 
  color: #c5c6c7; 
  padding: 25px;
  border-radius: 20px;
  max-width: 500px;
  margin: 32px auto;
  display: grid;
  gap: 15px;
  text-align: left;
  box-shadow: 0 0 20px #45a29e;
}

#character-details h3 {
  color: #66fcf1;
  text-shadow: 0 0 5px #45a29e;
  text-align: center;
  font-size: 2rem;
}

#load-more-btn {
  display: block;
  background: linear-gradient(135deg, #45a29e, #66fcf1);
  color: #0b0c10;
  margin: 20px auto;
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  font-weight: bold;
  cursor: pointer;
   transition: all 0.1s ease;
}
#load-more-btn:hover  {
  transform: scale(1.05);
  box-shadow: 0 0 15px #66fcf1;
}
